# Python
__pycache__/
*.py[cod]
*$py.class
*.so
Pipfile
Pipfile.lock
pyvenv.cfg
venv/
ENV/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Ambiente virtual
venv/
.venv/

# Variáveis de ambiente
.env